<link rel="stylesheet" href="/css/fixed-chunk-shift.css">

<figure class="chunk-shift normalized-viz" aria-labelledby="normalized-chunking-caption">
  <div class="normalized-viz__diagram" role="img" aria-label="2KB MinSize부터 8KB NormalSize까지는 MaskS로 컷을 어렵게 하고 이후에는 MaskL로 컷을 쉽게 하는 시각화">
    <div class="normalized-viz__milestones" aria-hidden="true">
      <span class="normalized-viz__milestone normalized-viz__milestone--min">
        <b>MinSize</b><em>2KB</em>
      </span>
      <span class="normalized-viz__milestone normalized-viz__milestone--normal">
        <b>NormalSize</b><em>8KB</em>
      </span>
    </div>

    <div class="normalized-viz__zones" aria-hidden="true">
      <div class="normalized-viz__zone normalized-viz__zone--hard">
        <span>MaskS</span>
        <small>cut 어렵게</small>
      </div>
      <div class="normalized-viz__zone normalized-viz__zone--easy">
        <span>MaskL</span>
        <small>cut 쉽게</small>
      </div>
    </div>
  </div>
</figure>
